<p id="notice"><%= notice %></p>

<h1>Listing Tweets</h1>

<%= form_tag :search_tweets, method: :get do %>
<p>ハッシュタグ<%= select_tag :content, options_for_select(
{'#tbs' => '#tbs', '#tvasahi' => '#tvasahi', '#fujitv' => '#fujitv', '#tvtokyo' => '#tvtokyo', '#ntv' => '#ntv'}, params[:content])  %>
<br>
<br>
<%= select_tag :year, options_for_select(
{
  '2015' => '2015'
},
 params[:year])  %>年
 <%= select_tag :month, options_for_select(
 { '1' => '1',
   '2' => '2',
   '3' => '3',
   '4' => '4',
   '5' => '5',
   '6' => '6',
   '7' => '7',
   '8' => '8',
   '9' => '9',
   '10' => '10',
   '11' => '11',
   '12' => '12'
 },
  params[:month])  %>月
  <%= select_tag :day, options_for_select(
  { '1' => '1',
    '2' => '2',
    '3' => '3',
    '4' => '4',
    '5' => '5',
    '6' => '6',
    '7' => '7',
    '8' => '8',
    '9' => '9',
    '10' => '10',
    '11' => '11',
    '12' => '12',
    '13' => '13',
    '14' => '14',
    '15' => '15',
    '16' => '16',
    '17' => '17',
    '18' => '18',
    '19' => '19',
    '20' => '20',
    '21' => '21',
    '22' => '22',
    '23' => '23',
    '24' => '24',
    '25' => '25',
    '26' => '26',
    '27' => '27',
    '28' => '28',
    '29' => '29',
    '30' => '30',
    '31' => '31'
  },
   params[:day])  %>日
<%= select_tag :term, options_for_select(
{ '0時から1時' => '1',
  '1時から2時' => '2',
  '2時から3時' => '3',
  '3時から4時' => '4',
  '4時から5時' => '5',
  '5時から6時' => '6',
  '6時から7時' => '7',
  '7時から8時' => '8',
  '8時から9時' => '9',
  '9時から10時' => '10',
  '10時から11時' => '11',
  '11時から12時' => '12',
  '12時から13時' => '13',
  '13時から14時' => '14',
  '14時から15時' => '15',
  '15時から16時' => '16',
  '16時から17時' => '17',
  '17時から18時' => '18',
  '18時から19時' => '19',
  '19時から20時' => '20',
  '20時から21時' => '21',
  '21時から22時' => '22',
  '22時から23時' => '23',
  '23時から24時' => '24'
},
 params[:term])  %>
のツイート
<br>
<br>
<%= select_tag :num, options_for_select(
{ '100' => '100',
  '200' => '200',
  '300' => '300',
  '400' => '400',
  '500' => '500',
  '600' => '600',
  '700' => '700',
  '800' => '800',
  '900' => '900',
  '1000' => '1000'
},
 params[:num])  %>件
<%= submit_tag "検索" %></p>
<% end %>
<% if @tweets_num != nil %>
ツイート数：<%= @tweets_num.length %>件
<% end %>
<br>
表示件数：<%= @tweets.length %>件
<% @tweets.each do |tweet| %>
<p>ツイート時刻：<%= tweet.twi_time %></P>
  <p>ユーザ名：<%= tweet.name %></p>
  <p>本文：<%= tweet.content %></p>
  <br>
  <% end %>
